{
    "CN-BJ-CT": "v4.bj-ct.cn.tcpping.top",
    "CN-BJ-CU": "v4.bj-cu.cn.tcpping.top",
    "CN-BJ-CM": "v4.bj-cm.cn.tcpping.top",
    "CN-BJ-EDU": "v4.bj-edu.cn.tcpping.top",
    "CN-SH-CT": "v4.sh-ct.cn.tcpping.top",
    "CN-SH-CU": "v4.sh-cu.cn.tcpping.top",
    "CN-SH-CM": "v4.sh-cm.cn.tcpping.top",
    "CN-SH-EDU": "v4.sh-edu.cn.tcpping.top",
    "CN-GD-CT": "v4.gd-ct.cn.tcpping.top",
    "CN-GD-CU": "v4.gd-cu.cn.tcpping.top",
    "CN-GD-CM": "v4.gd-cm.cn.tcpping.top",
    "CN-GD-EDU": "v4.gd-edu.cn.tcpping.top"
}